
#####################################################################
# cpp/d
#####################################################################

*.o
*.obj
*.so
*.a
*.bin

#####################################################################
# archives
#####################################################################

*.tar
*.rar
*.zip
*.tar.bz2
*.tar.gz
*.tgz

*.deb

#####################################################################
# Texts
#####################################################################

*.log
*.txt
*.csv
*.csv#
*.lst
*.json
*.ini
*.html

#####################################################################
# Images
#####################################################################

*.png
*.jpg
*.jpeg
*.svg

#####################################################################
# Other
#####################################################################

~*
*~
*~*
*.lock
.dub

.dub/*
vest-test-library

